@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background-color: #e7e7e7;
}


.button {
    border: none;
    background-color: #466bd1;
    width: 130%;
    height: 30px;
    /* color: #d1d1d1; */
    color: #fff;
    border-radius: 6px;
    transition: opacity 0.8s;
    cursor: pointer;
}

.transparent {
    background: transparent;
}

button:hover {
    opacity: 0.8;
}
